.hero {
    box-shadow: -9.45px -16.8px 210px 0px var(--primary);
}

.hero-background {
    background-image: url(../images/hero-background.jpg);
    background-size: fit;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: -1px;
    position: absolute;
    z-index: -1;
}

.hero-container{
    display: flex;
    width: 1240px;
    height: 945px;
    padding: 0px 25.2px;
    align-items: center;
    justify-items: center;
    gap: 25px;
    margin: 0 auto;
}

.hero-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.title {
    display: inline-flex;
    max-width: 440px;
    max-height: 24px;
    align-items: center;
    color: var(--text-white);
    margin-bottom: 1em;
}

.title-line {
    stroke: var(--text-white);
    stroke-width: 2px;
    margin-right: 1em;
}

.hero-heading h1 {
    color: var(--text-white);
}

.line-container {
    background-color: #ffffff;
    display: inline-block;
}

.container {
    padding: 25px;
    display: flex;
    z-index: 1;
}

.content {
    flex: 1;
    padding: 20px;
}

.container form {
    position: relative;
    max-width: 700px;
    width: 100%;
    border-radius: 8px;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

.container form .form{
    margin: 15px 0;
}

.container form .title{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

form .fields .input-field{
    width: 100%;
    margin-top: 20px;
}

.input-field {
    display: flex;
    justify-items: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.input-field label{
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
}

.input-field input {
    height: 30px;
    width: 60%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.regis-photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -12rem;
    width: 500px;
    z-index: 1;
}

.regis-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line {
    width: 520px;
    margin-bottom: 30px;
    margin-top: -5px;
}

.line img {
    width: 100%;
}

.regis-button {
    background-color: #801943; 
    width: 80%;
    color: white; 
    padding: 10px 20px; 
    font-size: 16px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
}

.joinNow-background {
    /* background-image: url(/Assets/joinNowBg.png); */
    background-size: fit;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    top: -1px;
    position: absolute;
    z-index: -1;
}

.joinNow-container{
    display: flex;
    width: 100%;
    height: 750px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 25px;
    margin: 0 auto;
}

.joinNow-content {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 180px;
    flex-shrink: 0;
    margin-top: 40px;
}

.attend-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.attend-box{
    border-radius: 12px;
    border: 4px solid var(--white, #FCFCFC);
    background: linear-gradient(231deg, rgba(59, 21, 107, 0.21) -43.38%, rgba(17, 24, 53, 0.21) 52.12%, rgba(29, 44, 101, 0.21) 108.89%);
    backdrop-filter: blur(8.5px);
    text-align: center;
    padding: 48px;
}

.attend-text {
    margin-bottom: 20px;
    width: 300px;
}


.attend-img {
    width: auto;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.attend-imgstyle {
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(32, 34, 45, 0.00) 0%, #101C40 100%), url(/Assets/imgAIP.png), lightgray 50% / cover no-repeat;
}

.attend-button {
    width: 215px;
    color: white; 
    padding: 8px 12px; 
    font-size: 20px;
    border: 3px solid var(--white, #FCFCFC);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block;
    text-align: center; 
}

.limited-seat {
    width: 255px;
    color: #801943; 
    padding: 4px 18px; 
    font-size: 16px;
    border-radius: 30px;
    background-color: #fff;
    margin-bottom: 24px;
    display: inline-block;
}