.hero {
    box-shadow: -9.45px -16.8px 210px 0px var(--primary);
}

.hero-background {
    background-image: url(../images/hero-background.jpg);
    background-size: fit;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: -1px;
    position: absolute;
    z-index: -1;
}

.hero-container{
    display: flex;
    width: 1240px;
    height: 945px;
    padding: 0px 25.2px;
    align-items: center;
    justify-items: center;
    gap: 25px;
    margin: 0 auto;
}

.hero-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.title {
    display: inline-flex;
    max-width: 440px;
    max-height: 24px;
    align-items: center;
    color: var(--text-white);
    margin-bottom: 1em;
}

.title-line {
    stroke: var(--text-white);
    stroke-width: 2px;
    margin-right: 1em;
}

.hero-heading h1 {
    color: var(--text-white);
}

.about-frame{
    display: flex;
    flex-direction: Column;
    justify-Content: flex-center;
    align-items: center;
    gap: 64px;
}

.aboutTitle-frame{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.content-title{
    color: #101C40; 
    font-size: 90px; 
    font-family: Helvetica; 
    font-weight: 700; 
    word-wrap: break-word;
}

.line{
    width: 306.01px; 
    height: 0px; 
    border: 10px #8C0343 solid;
}

.aboutContent-box{ 
    width : 1234px;
    text-align: justify;
    color: #011526;
    font-size: 32px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
}


.topic-title-box{
    width: 334px;
    height: 115px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    gap: 12px; 
}


.topic-container{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    width: 479px;
    height: 342px;
    background: black;
    border-radius: 20px;
    overflow-x:auto;
    white-space: nowrap;
}
  
  
.topic-text{
    color: white;
    font-family: Helvetica;
    font-weight:700;
    font-size: 32px;
    word-wrap: break-word;
    padding: 30px;
    bottom:0;
    left: 0;
    position: Absolute
}
